.footer {
  padding: 16px 24px;
  background: linear-gradient(
    0deg,
    var(--primary-color-700),
    var(--primary-color-800)
  );
}

.footer__container {
  font-size: 12px;
  color: #f1efa0;
}
